.cookiesplus-modal{
    #cookiesplus-bas{
        background-color: rgba(0, 0, 0, 0.5);
        .modal-dialog{
            .modal-content{
                background-color: transparent;
                form{
                    .modal-body{
                        height: 135px;
                        padding: 11px;
                        margin: 0 auto;
                        max-width: 1200px;
                        max-height: inherit;
                        .cookie-button{
                            font-family: $font-2-bold;
                            font-size: 15px;
                            color: #fff;
                            margin: 0;
                            border: none;
                            cursor: pointer;
                            line-height: 1;
                            padding: 14px 15px;
                            text-transform: uppercase;
                            background-color: $color-btn-cookies; 
                            transition: color ease-in-out 300ms, background-color ease-in-out 300ms;
                            &:hover{
                                color: $color-sep;
                                background-color: $color-tertiary !important;
                            }
                        }
                        .content{
                            p{
                                font-family: $font-2-book;
                                font-size: 13px;
                                line-height: 15.6px;
                            }
                            .cp-more-information{
                                margin-top: 15px;
                                width: 207px;
                            }
                        }
                        .cookie-actions{
                            display: flex;
                            flex: 0 1 31%;
                            align-items: center;
                            flex-direction: column;
                            .cookie-button{
                                width: 181px;
                                text-align: center;
                                &.cp-accept{
                                    margin-bottom: 11px;
                                    background-color: $color-secondary;
                                }
                                &.cp-reject{
                                    background-color: $color-btn-reject;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #cookiesplus-advanced{
        .modal-dialog{
            .modal-content{
                #cookiesplus-form{
                    max-width: 1200px;
                    margin: 0 auto;
                    padding: 30px;
                    .modal-body{
                        padding-left: 0;
                        padding-right: 0;
                        .card{
                            p{
                                color: #000;
                            }
                            [type=checkbox][class*=filled-in]{
                                &:checked{
                                    + label{
                                        &:after{
                                            border-color: $color-tertiary;
                                            background-color: $color-tertiary;
                                        }
                                    }
                                }
                            }
                        }                        
                    }
                    .header_footer{
                        .cookie-actions{
                            .pull-right{
                                .btn{
                                    font-family: $font-2-bold;
                                    text-transform: uppercase;
                                    background-color: $color-secondary;
                                    &:hover{
                                        background-color: $color-tertiary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1919px) and (min-width: 1280px) {
    .cookiesplus-modal{
        #cookiesplus-bas{
            .modal-dialog{
                .modal-content{
                    form{
                        .modal-body{
                            max-width: fluidUnitLg(1200);
                            
                            .cookie-button{
                                font-size: fluidUnitLg(15);
                                padding: fluidUnitLg(14) fluidUnitLg(15);
                            }
                            .content{
                                .cp-more-information{
                                    width: fluidUnitLg(207);
                                }
                            }
                            .cookie-actions{
                                .cookie-button{
                                    width: fluidUnitLg(181);
                                    &.cp-accept{
                                        margin-bottom: fluidUnitLg(11);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1279px) and (min-width: 992px) {
    .cookiesplus-modal{
        #cookiesplus-bas{
            .modal-dialog{
                .modal-content{
                    form{
                        .modal-body{
                            max-width: 90%;
                            height: 145px;     
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .cookiesplus-modal{
        #cookiesplus-bas{
            .modal-dialog{
                .modal-content{
                    form{
                        .modal-body{
                            height: 155px;  
                            .cookie-actions{
                                
                            }   
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .cookiesplus-modal{
        #cookiesplus-bas{
            .modal-dialog{
                .modal-content{
                    form{
                        .modal-body{
                            height: auto;  
                            display: block;
                            .cookie-button{
                                font-size: 12px;
                            }
                            .content{
                                text-align: center;
                                p{
                                    text-align: left;
                                }
                                .cp-more-information{
                                    width: 207px;
                                    margin-bottom: 11px;
                                }
                            }
                            .cookie-actions{
                                .cookie-button{
                                    width: 207px;
                                }
                            }   
                        }
                    }
                }
            }
        }
    }
}