@import "../partials/_functions";
@import "header-parts/header-banner";
@import "header-parts/header-nav"; 
@import "header-parts/header-brand"; 
.layer-dev{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.75;
  pointer-events: none;
  z-index: 9999;
}

#header {
  position: relative;
  z-index: 999;
  color: $gray;
  background: $white;

  .header-nav {
    .right-nav {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
    }

    .currency-selector {
      margin-top: 0.9375rem;
      margin-left: 0.9375rem;
      white-space: nowrap;
    }

    .user-info {
      margin-top: 0.9375rem;
      margin-left: 2.5rem;
      text-align: right;
      white-space: nowrap;

      .account {
        margin-left: $small-space;
      }
    }

    .language-selector {
      margin-top: 0.9375rem;
      white-space: nowrap;
    }

    .cart-preview {
      // &.active {
      //   background: $brand-primary;

      //   a,
      //   i {
      //     color: $white;
      //   }
      // }

      // .shopping-cart {
      //   color: $gray;
      //   vertical-align: middle;
      // }

      .body {
        display: none;
      }
    }

    .blockcart {
      height: 3rem;
      padding: 0.75rem;
      margin-left: 0.9375rem;
      text-align: center;
      white-space: nowrap;
      background: $gray-light;

      a {
        color: $gray;

        &:hover {
          color: $brand-primary;
        }
      }

      &.active {
        a:hover {
          color: $white;
        }
      }

      .header {
        margin-top: 0.125rem;
      }
    }

    #_desktop_contact_link {
      display: inline-block;

      #contact-link {
        margin-top: 0.9375rem;
      }
    }

    .search-widget {
      margin-top: 0.2rem;
    }

    .material-icons {
      line-height: inherit;

      &.expand-more {
        margin-left: -0.375rem;
      }
    }
  }

  .header-top {


    .position-static {
      position: static;
    }

    .search-widget {
      float: right;
    }
  }

  .top-menu-link {
    margin-left: $medium-space;
  }

  @include media-breakpoint-down(sm) {
    .top-logo {
      display: flex;
      align-items: center;
      min-height: 50px;

      > h1 {
        margin: 0;
      }
    }
  }
}
