@import "../partials/_functions";
.carousel {
  margin-bottom: 1.5rem;
  .direction {
    z-index: auto;
  }
  .carousel-item {
    height: 100%;
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    .caption {
      position: absolute;
      top: 200px;
      left: 150px;
      max-width: 700px;
      color: $white;
      .display-1 {
        font-family: $font-2-bold;
        font-size: 45px;
        line-height: 45px;
      }
      .caption-description {
        p {
          font-family: $font-2-bold;
          font-size: 25px;
          color: #fff;
          display: flex;
          width: 572px;
          height: 68px;
          margin-top: 75px;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          background-color: $color-primary;
        }

        h3 {
          font-size: 1.25rem;
          font-weight: 600;
        }
      }

    }

    figure {
      display: inline-block;
      margin: 0;
    }
  }

  .carousel-control {
    opacity: 1;

    .icon-next,
    .icon-prev {

      @at-root .lang-rtl & {
        .material-icons {
          transform: rotate(-180deg);
        }
      }

      &::before {
        content: "";
      }

      i {
        font-size: 3.125rem;
        color: $white;
      }

      &:hover {
        i {
          color: $brand-primary;
        }
      }
    }

    .icon-prev {
      left: 1rem;
      margin-left: 0;
    }

    .icon-next {
      right: 2rem;
      margin-right: 0;
    }

    &.left,
    &.right {
      background: none;
    }
  }
}

.carousel-indicators {
  li {
    border-color: $color-secondary;
  }

  .active {
    background-color: $color-secondary;
  }
}

@media screen and (max-width: 1919px) and (min-width: 992px) {
  .carousel{
    .carousel-item {
      .caption {
        top: fluidUnitLg(200);
        left: fluidUnitLg(150);
        max-width: fluidUnitLg(700);
        .display-1 {
          font-size: fluidUnitLg(45);
          line-height: fluidUnitLg(45);
        }
        .caption-description {
          p {
            font-size: fluidUnitLg(25);
            width: fluidUnitLg(572);
            height: fluidUnitLg(68);
            margin-top: fluidUnitLg(75);
          }
        }
      }
    }
  }
}


@include media-breakpoint-up(lg) {
  .carousel {
    .carousel-indicators {
      display: none;
    }
  }
}

@include media-breakpoint-down(lg) {
  .carousel {
    .carousel-inner {
      height: auto;
    }
  }
}

@include media-breakpoint-down(md) {
  .carousel {
    left: 50%;
    width: 100vw;
    padding-bottom: 0.5rem;
    margin-left: -50vw;
    background-color: $gray-light;
    box-shadow: none;

    .carousel-control {
      .icon-prev,
      .icon-next {
        width: auto;
        height: auto;
      }
    }

    .carousel-item {
      .caption {
        position: static;
        margin: 1.275rem auto 2.5rem;
        text-align: center;

        .display-1 {
          font-size: 25px;
          line-height: 25px;
          padding: 0 15px;
          color: $color-secondary;
        }

        .caption-description {
          p {
            font-size: 15px;
            display: inline-block;
            width: auto;
            height: auto;
            margin-top: 15px;
            padding: 15px 25px;
          }
        }
      }
    }

    .direction {
      display: none;
      position: absolute;
      top: calc(50%);
      width: 100%;

      .carousel-control {
        .icon-prev {
          left: 0;
          margin-left: 0;
        }

        .icon-next {
          right: 0;
          margin-right: 0;
        }

        i {
          background: rgba(122, 122, 122, 0.5);
        }
      }
    }
  }

  .carousel-indicators {
    li {
      width: 12px;
      height: 12px;
    }

    .active {
      width: 12px;
      height: 12px;
      margin: 1px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .carousel {
    .carousel-item {
      .caption {
        .display-1 {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }

    // .carousel-control {
    //   .icon-prev,
    //   .icon-next {
    //     i {
    //       font-size: 2rem;
    //     }
    //   }
    // }
  }
}
