.header-top{
    padding: 10px 0 0;
    > .container {
        width: 1620px;
        position: relative;  
        > .row:first-of-type {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            #_desktop_logo{
                padding: 0 2px;
                flex: 1;
                a{
                    display: inline-block;
                    img{
                        width: 223px;
                        height: auto;
                    }
                }
            }
            #search_widget{
                float: none;
                // flex: 0 1 26.6%;
                margin-top: 3px;
                overflow: inherit;
                max-width: inherit;
                min-width: inherit;
                form{
                    width: 341px;
                    border-radius: 2px;
                    overflow: hidden;
                    background-color: $color-form-bg;
                    input{
                        width: 100%;
                        height: 47px;
                        padding: 0 40px 0 14px;       
                        font-family: $font-2-light;
                        font-size: 12.5px;
                        color: $color-form-icon;
                        background-color: $color-form-bg;                 
                    }
                    i{
                        padding: 0;
                        right: 0;
                        font-size: 21px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 47px;
                    }
                }
            }
            .rh-bloc{
                padding-top: 8px;
                margin-left: 47px;
                .rh-link{
                    a,
                    .link-title{
                        font-family: $font-2-bold;
                        font-size: 16px;
                        color: $color-text;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        transition: color ease-in-out 300ms;
                        i{
                            font-size: 29px;
                            color: $color-secondary;
                            margin-right: 13px;
                        }
                        &:hover{
                            color: $color-secondary;
                        }
                    }
                    .link-title{
                        cursor: default;
                    }
                }
                &#_desktop_user_info{
                    margin-left: 92px;
                }
                &#_desktop_cart{
                    padding-right: 8px;
                }
                .blockcart{
                    position: relative;
                    .cart-products-count{
                        position: absolute;
                        top: -5px;
                        left: 17px;
                        width: 24px;
                        height: 24px;
                        font-family: $font-2-bold;
                        font-size: 12px;
                        color: #fff;
                        background: $color-tertiary;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        pointer-events: none;                    
                    }
                }
            }   
            .menu{
                flex: 0 1 100%;
                padding: 19px 0 0;
                margin-top: 10px;
                border-top: 1px solid $color-border;
                #top-menu{
                    &[data-depth="0"]{
                        // margin: 0 -21px;
                        display: flex;
                        align-items: stretch;
                        > li{
                            max-width: 275px;
                            border-right: 1px solid $color-border;
                            > a{
                                font-family: $font-2-bold;
                                font-size: 15px;
                                color: #000;
                                line-height: 18px;
                                padding: 6px 24px;
                                text-align: center;
                                white-space: inherit;
                                display: flex;
                                height: 100%;
                                align-items: center;
                                text-transform: uppercase;
                                position: relative;
                                overflow: hidden;
                                &::after{
                                    content: '';
                                    display: block;
                                    height: 9px;
                                    background-color: $color-secondary;
                                    position: absolute;
                                    right: 0;
                                    bottom: -15px;
                                    left: 0;
                                    transition: bottom ease-in-out 400ms;
                                }
                                &:hover{
                                    &::after{
                                        bottom: 0;
                                    }
                                }
                                .collapse-icons{
                                    display: none;
                                }
                            }
                            .popover{
                                min-width: 100%;
                                margin: 0 auto;
                                padding: 25px 40px;
                                ul{
                                    &[data-depth="1"]{
                                        margin: 0 auto;
                                        display: flex;
                                        justify-content: center;
                                        li{
                                            a{
                                                color: #000;
                                                &:hover{
                                                    color: $color-secondary;
                                                }
                                            }
                                        }
                                        > li{
                                            float: none;
                                            margin: 0;
                                            flex: 0 1 16.666%;
                                            display: flex;
                                            justify-content: center;
                                            > .submenu-bloc{
                                                > a{
                                                    font-family: $font-2-bold;
                                                    font-size: 15px;
                                                    padding: 4px 0;
                                                    line-height: 15px;
                                                    margin-bottom: 5px;
                                                    white-space: inherit;
                                                    text-transform: uppercase;
                                                    .collapse-icons{
                                                        display: none;
                                                    }
                                                }
                                            }
                                            .collapse{
                                                ul{
                                                    &[data-depth="2"]{
                                                        li{
                                                            a{
                                                                font-family: $font-2-book;
                                                                font-size: 15px;
                                                                line-height: 15px;
                                                                padding: 4px 0;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            &:hover{
                                                > .submenu-bloc{
                                                    > a{
                                                        color: $color-secondary;
                                                    }
                                                }
                                            }
                                        }
                                        &[data-count="6"]{
                                            > li{
                                                justify-content: flex-end;
                                                > .submenu-bloc{
                                                    width: 150px;
                                                }
                                                &:first-child{
                                                    > .submenu-bloc{
                                                        width: 100%;
                                                    }
                                                }
                                            }
                                        }                                        
                                    }
                                }
                            }
                            &:last-child{
                                border: none;
                                > a{
                                    color: $color-tertiary;
                                    &::after{
                                        background-color: $color-tertiary;
                                    }
                                }
                            }
                        }
                    }
                }
            }  
            .account-menu{
                display: none;
            }       
        }
    }
    #mobile_top_menu_wrapper{
        display: none;
    }
}
/* SEARCHBAR AUTOCOMPLETE */
.searchbar-autocomplete{
    max-width: 343px;
    .ui-menu-item{
        .ui-corner-all{
            display: flex;
            align-items: center;
            font-size: 12.5px;
            line-height: 16px;
        }
    }
}
/* END SEARCHBAR AUTOCOMPLETE */

/* DESKTOP RESPONSIVE */
@media screen and (max-width: 1919px) and (min-width: 1366px) {
    .header-top{
        padding: fluidUnitLg(10) 0 0;
        > .container {
            width: fluidUnitLg(1620);
            > .row:first-of-type {
                #_desktop_logo{
                    padding: 0 fluidUnitLg(2);
                    a{
                        img{
                            width: fluidUnitLg(223);
                        }
                    }
                }
                #search_widget{
                    margin-top: fluidUnitLg(3);
                    form{
                        width: fluidUnitLg(341);
                        border-radius: fluidUnitLg(2);
                        input{
                            height: fluidUnitLg(47);
                            padding: 0 fluidUnitLg(40) 0 fluidUnitLg(14);       
                            font-size: calc(7px + 0.286458vw);               
                        }
                        i{
                            font-size: fluidUnitLg(21);
                            width: fluidUnitLg(40);
                            height: fluidUnitLg(47);
                        }
                    }
                }
                .rh-bloc{
                    padding-top: fluidUnitLg(8);
                    margin-left: fluidUnitLg(47);
                    .rh-link{
                        a,
                        .link-title{
                            font-size: fluidUnitLg(16);
                            i{
                                font-size: fluidUnitLg(29);
                                margin-right: fluidUnitLg(13);
                            }
                        }
                    }
                    &#_desktop_user_info{
                        margin-left: fluidUnitLg(92);
                    }
                    &#_desktop_cart{
                        padding-right: fluidUnitLg(8);
                    }
                    .blockcart{
                        .cart-products-count{
                            top: fluidUnitLg(-5);
                            left: fluidUnitLg(17);
                            width: fluidUnitLg(24);
                            height: fluidUnitLg(24);                  
                        }
                    }
                }   
                .menu{
                    padding: fluidUnitLg(19) 0 0;
                    margin-top: fluidUnitLg(10);
                    #top-menu{
                        &[data-depth="0"]{
                            > li{
                                max-width: fluidUnitLg(275);
                                > a{
                                    &::after{
                                        height: fluidUnitLg(9);
                                        bottom: fluidUnitLg(-15);
                                    }
                                    font-family: $font-2-bold;
                                    font-size: fluidUnitLg(15);
                                    padding: fluidUnitLg(6) fluidUnitLg(23); 
                                }
                                .popover{
                                    padding: fluidUnitLg(25) fluidUnitLg(40);
                                    ul{
                                        &[data-depth="1"]{
                                            > li{
                                                > .submenu-bloc{
                                                    > a{
                                                        font-size: fluidUnitLg(15);
                                                        padding: 4px 0;
                                                        line-height: 15px;
                                                        margin-bottom: 5px;
                                                    }
                                                }
                                                .collapse{
                                                    ul{
                                                        &[data-depth="2"]{
                                                            li{
                                                                a{
                                                                    font-size: fluidUnitLg(15);
                                                                    line-height: 15px;
                                                                    padding: 4px 0;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            &[data-count="6"]{
                                                > li{
                                                    > .submenu-bloc{
                                                        width: fluidUnitLg(150);
                                                    }
                                                }
                                            }                                        
                                        }
                                    }
                                }
                            }
                        }
                    }
                }       
            }
        }
    }
    /* SEARCHBAR AUTOCOMPLETE */
    .searchbar-autocomplete{
        max-width: fluidUnitLg(343);
    }
    /* END SEARCHBAR AUTOCOMPLETE */
}
@media screen and (max-width: 1365px) and (min-width: 992px) {
    .header-top{
        padding: fluidUnitMd(10) 0 0;
        > .container {
            width: fluidUnitMd(1152);
            > .row:first-of-type {
                #_desktop_logo{
                    padding: 0 fluidUnitMd(2);
                    a{
                        img{
                            width: fluidUnitMd(159);
                        }
                    }
                }
                #search_widget{
                    margin-top: fluidUnitMd(3);
                    form{
                        width: 250px;
                        border-radius: 2px;
                        input{
                            height: 30px;
                            padding: 0 fluidUnitMd(28) 0 fluidUnitMd(9);       
                            font-size: 11px;               
                        }
                        i{
                            font-size: 14px;
                            width: 30px;
                            height: 100%;
                        }
                    }
                }
                .rh-bloc{
                    padding-top: fluidUnitMd(8);
                    margin-left: 15px;
                    .rh-link{
                        a,
                        .link-title{
                            font-size: 9px;
                            i{
                                font-size: 15.5px;
                                margin-right: fluidUnitMd(9);
                            }
                        }
                    }
                    &#_desktop_user_info{
                        margin-left: fluidUnitMd(65);
                    }
                    &#_desktop_cart{
                        padding-right: fluidUnitMd(8);
                    }
                    .blockcart{
                        .cart-products-count{
                            top: -2px;
                            left: 10px;
                            width: 14px;
                            height: 14px;
                            font-size: 8px;                 
                        }
                    }
                }  
                .menu{
                    padding: 9px 0 0;
                    margin-top: 9px;
                    #top-menu{
                        &[data-depth="0"]{
                            justify-content: space-between;
                            > li{
                                border: none;
                                > a{
                                    font-family: $font-2-bold;
                                    font-size: 10px;
                                    padding: 6px 10px;
                                    &::after{
                                        height: 3px;
                                    }
                                }
                                .popover{
                                    padding: fluidUnitLg(25) fluidUnitLg(40);
                                    ul{
                                        &[data-depth="1"]{
                                            > li{
                                                > .submenu-bloc{
                                                    > a{
                                                        font-size: 9px;
                                                        padding: 4px 0;
                                                        line-height: 9px;
                                                        margin-bottom: 0;
                                                    }
                                                }
                                                .collapse{
                                                    ul{
                                                        &[data-depth="2"]{
                                                            li{
                                                                a{
                                                                    font-size: 10px;
                                                                    line-height: 7px;
                                                                    padding: 4px 0;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            &[data-count="6"]{
                                                > li{
                                                    > .submenu-bloc{
                                                        width: fluidUnitLg(150);
                                                    }
                                                }
                                            }                                        
                                        }
                                    }
                                }
                                &:nth-child(2){
                                    display: none;
                                }
                            }
                        }
                    }
                }    
            }
        }
    }
    /* SEARCHBAR AUTOCOMPLETE */
    .searchbar-autocomplete{
        max-width: fluidUnitMd(343);
    }
    /* END SEARCHBAR AUTOCOMPLETE */
}
@media screen and (max-width: 991px) {
    .header-top{
        padding: 0;
        > .container {
            width: 100%;
            > .row:first-of-type {
                position: relative;
                #_desktop_logo{
                    display: none;
                }
                #search_widget{
                    flex: 1;
                    margin: 0;
                    padding: 15px;
                    background-color: #fff;
                    position: absolute;
                    top: -80px;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    z-index: -1;
                    transition: top cubic-bezier(0.68, -0.6, 0.32, 1.6) 400ms, opacity ease-in-out 400ms;
                    form{
                        width: 100%;
                        border-radius: 2px;
                    }
                    &.open{
                        top: 0;
                        opacity: 1;
                        z-index: 3;
                        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.11);
                    }
                }
                .rh-bloc{
                    display: none;
                }      
                #_desktop_top_menu{
                    display: none;
                }   
            }
            #mobile_top_menu_wrapper{
                display: block;
                padding: 25px 10px;
                opacity: 0;
                z-index: -1;
                pointer-events: none;
                position: absolute;
                top: -480px;
                right: 0;
                left: 0;
                margin: 0 auto;
                transition: opacity ease-in-out 400ms, top ease-in-out 400ms ;
                ul{
                    &[data-depth="0"]{
                        > li{
                            margin-bottom: 7px;
                            > a{
                                position: relative;
                                font-family: $font-2-bold;
                                font-size: 15px;
                                color: $color-sep;
                                border: none;
                                line-height: 18px;
                                white-space: inherit;
                                letter-spacing: 0.05em;
                                text-transform: uppercase;
                                padding: 10px fluidUnitMobile(80) 10px 10px;
                                span{
                                    transition: color ease-in-out 300ms;
                                }
                            }
                            .collapse-icons{
                                width: 30px;
                                height: 30px;
                                position: absolute;
                                top: 0;
                                right: 5px;
                                bottom: 0;
                                margin: auto;
                                padding: 5px;
                                font-size: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transition: transform ease-in-out 300ms;    
                                i{
                                    font-size: 15px;
                                }                                
                                &[aria-expanded="true"]{
                                    color: $color-secondary;
                                    transform: rotate(-180deg);
                                    & + span{
                                        color: $color-secondary;
                                    }
                                }
                            }
                            .popover{
                                padding: 0;
                                > ul{
                                    &[data-depth="1"]{
                                        > li{
                                            padding: 0 0 0 10px;
                                            a{
                                                font-family: $font-2-book;
                                                font-size: 13px;
                                                padding: 5px 40px 5px 0;
                                                line-height: 16px;
                                                color: $color-sep;
                                                position: relative;
                                                white-space: inherit;
                                                > .collapse-icons{
                                                    i{
                                                        font-size: 15px;
                                                    }
                                                }
                                                & + div{
                                                    ul{
                                                        li{
                                                            a{
                                                                font-family: $font-2-book;
                                                                font-size: 13px;
                                                                padding: 2px 15px;
                                                                color: $color-sep;
                                                            }
                                                        }
                                                    }
                                                }
                                            } 
                                        }
                                    }
                                }
                            }
                            &:last-child{
                                display: none;
                            }
                        }
                    }
                    
                }
                #accoutMenu{
                    margin-top: 5px;
                    padding: 0 10px;
                    > li{
                        padding-top: 9px;
                        border-top: 1px solid $color-sep;
                        display: block;
                        > a{                            
                            padding-left: 0;
                            .collapse-icons{
                                top: 0;
                                right: -7px;
                                bottom: 0;
                                left: -7px;
                                width: auto;
                                height: auto;
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                i{
                                    margin-top: -5px;
                                    transition: transform ease-in-out 300ms;
                                }
                                &[aria-expanded="true"]{
                                    transform: none;
                                    i{
                                        transform: rotate(-180deg);
                                    }
                                }
                            }
                            .link-label{
                                display: flex;
                                align-items: center;
                                .psticon-user {
                                    font-size: 26px;
                                    margin-right: 14px;
                                    transition: color ease-in-out 300ms;
                                }
                            }

                        }
                        .popover{
                            ul{
                                li{
                                    a{
                                        font-family: $font-2-book;
                                        font-size: 13px;
                                        padding: 5px 0;
                                        line-height: 13px;
                                        color: $color-sep;
                                        position: relative;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #header{
        &.is-open{
            #mobile_top_menu_wrapper{
                opacity: 1;
                z-index: 1;
                pointer-events: inherit;
                top: 0;
                position: relative;
            }
        }
    }
    .searchbar-autocomplete{
        width: 100% !important;
        max-width: 100%;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
}
@media screen and (max-width: 767px) {
    .searchbar-autocomplete{
        top: 153px !important;
    }
}
@media screen and (max-width: 479px) {
    .header-top{
        > .container {
            #mobile_top_menu_wrapper{
                ul{
                    &[data-depth="0"]{
                        > li{
                            > a{
                                font-size: fluidUnitMobile(15);
                            }
                        }
                    }
                }
            }
        }
    }
}