.header-nav{
    display: none;
    padding-bottom: 1px;
    background-color: #fff;
    border-bottom: 1px solid $color-sep;
    .container{
        .row{
            .mobile{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 3px 0;
                .bloc-mobile{
                    flex: 0 1 33.33%;
                    display: flex;
                    align-items: center;
                    &.lb-mobile{
                        justify-content: flex-start;
                        padding-left: 20px;
                        .menu-toggle{
                            display: flex;
                            flex-direction: column;
                            width: 18px;
                            margin-right: 25px;
                            cursor: pointer;
                            span{
                                height: 2px;
                                margin: 2px 0;
                                border-radius: 10px;
                                pointer-events: none;
                                background: $color-secondary;
                                transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
                                &:nth-of-type(1){
                                    width: 50%;
                                }
                                &:nth-of-type(2){
                                    width: 100%;
                                }
                                &:nth-of-type(3){
                                    width: 75%;
                                }
                            }
                            &.open{
                                span{
                                    &:nth-of-type(1){
                                        transform-origin: bottom;
                                        transform: rotatez(45deg) translate(11px, 0.5px)
                                    }
                                    &:nth-of-type(2){
                                        transform-origin: top;
                                        transform: rotatez(-45deg)
                                    }
                                    &:nth-of-type(3){
                                        transform-origin: bottom;
                                        width: 50%;
                                        transform: translate(1px, -10px) rotatez(45deg);  
                                    }
                                }
                            }
                        }
                        .search-toggle{
                            padding-top: 7px;
                            .psticon-search{
                                font-size: 20px;
                                color: $color-secondary;
                                pointer-events: none;
                            }
                        }
                    }
                    &.top-logo{
                        justify-content: center;
                        a{
                            img{
                                max-width: 88px;
                            }
                        }
                    }
                    &.rb-mobile{
                        padding-right: 18px;
                        justify-content: flex-end;
                        #_mobile_quote{
                            .rh-bloc{
                                .rh-link{
                                    margin-top: 5px;
                                    a{
                                        font-size: 20px;
                                        color: $color-secondary;
                                        span{
                                            display: none;
                                        }
                                    }
                                }

                            }
                        }
                        #_mobile_cart{
                            margin-left: 30px;
                            .blockcart{
                                padding: 0;
                                margin: 0 auto;
                                height: inherit;
                                background-color: transparent;
                                .rh-link{
                                    margin-top: 5px;
                                    position: relative;
                                    .link-title{
                                        font-size: 20px;
                                        color: $color-secondary;
                                        span{
                                            display: none;
                                        }
                                    }
                                    .cart-products-count {
                                        position: absolute;
                                        top: -3px;
                                        right: -10px;
                                        width: 16px;
                                        height: 16px;
                                        background: $color-tertiary;
                                        color: #fff;
                                        border-radius: 50%;
                                        font-family: $font-2-book;
                                        font-size: 10px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .header-nav{
        display: block;
        position: relative;
        z-index: 5;
    }
}