.header-banner{
    text-align: center;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: $color-primary;    
    .container{
        a{
            font-family: $font-1-regular;
            font-size: 15px;
            color: #fff;
            letter-spacing: 0.05em;
            display: inline-block;
            i{
                display: inline-block;
                margin-right: 13px;
            }
            @media (min-width: 1919px) {
                transform: translate(-14px, -1px);
                i{
                    transform: translateY(2px);
                }
            }
        }
    }
}

@media screen and (max-width: 1919px) and (min-width: 1366px) {
    .header-banner{
        height: fluidUnitLg(32);   
        .container{
            a{
                font-size: fluidUnitLg(15);
                i{
                    margin-right: fluidUnitLg(15);
                }
            }
        }
    }
}
@media screen and (max-width: 1365px) and (min-width: 992px) {
    .header-banner{
        height: 20px;   
        .container{
            a{
                font-size: 10px;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .header-banner{
        height: 18px;   
        position: relative;
        z-index: 5;
        .container{
            a{
                font-family: $font-2-book;
                font-size: 10px;
                i{
                    margin-right: 10px;
                }
            }
        }
    }
}
