#index{
    #wrapper{
        padding-top: 0; 
        >  .container{
            padding: 0;
            width: 100%;
            .featured-products{
                .row{
                    margin: 0 auto;
                }
            }
        }
    }
}