@function fluidUnitLg($value) {
    $result: (($value * 100) / 1920) * 1vw;
    @return $result;
}
@function fluidUnitMd($value) {
    $result: (($value * 100) / 1366) * 1vw;
    @return $result;
}

@function fluidUnitMobile($value) {
    $result: (($value * 100) / 375) * 1vw;
    @return $result;
}
  