@font-face {
    font-family: 'Roboto-Regular';
    src: url('./../../../epharma/assets/fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
        url('./../../../epharma/assets/fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
        url('./../../../epharma/assets/fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham-Light';
    src: url('./../../../epharma/assets/fonts/Gotham-Light/Gotham-Light.woff2') format('woff2'),
        url('./../../../epharma/assets/fonts/Gotham-Light/Gotham-Light.woff') format('woff'),
        url('./../../../epharma/assets/fonts/Gotham-Light/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham-Book';
    src: url('./../../../epharma/assets/fonts/Gotham-Book/Gotham-Book.woff2') format('woff2'),
        url('./../../../epharma/assets/fonts/Gotham-Book/Gotham-Book.woff') format('woff'),
        url('./../../../epharma/assets/fonts/Gotham-Book/Gotham-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url('./../../../epharma/assets/fonts/Gotham-Bold/Gotham-Bold.woff2') format('woff2'),
        url('./../../../epharma/assets/fonts/Gotham-Bold/Gotham-Bold.woff') format('woff'),
        url('./../../../epharma/assets/fonts/Gotham-Bold/Gotham-Bold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}




